extends layout

block content
    h1 Hi, #{name}
    p Welcome to #{title} page. this is your first express project
    p email: houcervin55@gmail.com
    p 
      span github: 
      a(href='https://github.com/cervin12') @cervin12